<header>
    <nav class="navbar">
        <div class="nav-container">
            <h1 class="nav-title">RealTime Tracking</h1>
            <ul class="nav-menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#tracking">Tracking</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </nav>
</header>
